.bgimg6{
	background-image: url(https://res.cloudinary.com/daifehfnu/image/upload/v1672224533/background_poneaf.webp);
	background-size: cover;
	height: 180vh;
}
.headfirst{
	color: white;
	font-family: 'roboto';
	font-size: 30px;
	font-weight: bold;
	padding: 25px;
}
.cardlayout{
	background-color: black;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.cardcon{
	padding: 20px;
}
.headsecond{
	color: white;
	font-family:'roboto' ;
	font-weight:bold ;
	font-size: 20px;
}
.paraline{
	color:white;
	font-family: roboto;
	font-size: 13px;
}